* {
    font-family: "Poppins", "sans-serif";
    font-weight: bold;
}

body {
    color: #212121;
    background-image: url(./assets/images/background.jpg);
    background-repeat: repeat;
    background-position: center center;
    background-color: #fbfbfb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2em 0.5em;
    margin: 0em;
    width: 100vw;
    height: 100vh;
}

a {
    color: #212121;
}

row {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5em;
    column-gap: 1em;
    /* width: 100%; */
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0em;
    column-gap: 0.5em;
    padding-bottom: 1em;
    /* border-bottom: 2px dashed #212121; */
    /* width: 100%; */
}

.row-task {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0em;
    column-gap: 0.5em;
    padding-bottom: 0em;
    /* border-bottom: 2px dashed #212121; */
    /* width: 100%; */
}

column {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 0.5em;
    row-gap: 1em;
    /* width: 100%; */
}

.center {
    width: 100%;
    text-align: center;
}

.center-p {
    margin: 0.3em;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5em 1em;
    row-gap: 1em;
    /* width: 100%; */
}

.container {
    width: 100%;
    height: 100%;
    /* background-color: #fff; */
    margin: 0em;
}

form {
    padding: 0.5em;
    display: flex;
    justify-content: left;
    align-items: center;
    column-gap: 1em;
}

.input {
    font-size: 1.2em;
    padding: 0.5em 1em;
    border: 0px;
    border-radius: 10px;
    color: #212121;
    background-color: #e2e2e2;
    width: 90%;
}

.button {
    font-size: 1.2em;
    width: 8em;
    padding: 0.5em 1em;
    border: 0px;
    border-radius: 10px;
    color: #212121;
    background-color: #e2e2e2;
    cursor: pointer;
}

.button:active {
    background-color: #212121;
    color: #fbfbfb;
}

.list-container {
    display: flex;
    justify-content: left;
    align-items: start;
    column-gap: 1em;
    padding: 1em 2em;
    width: 100%;
    height: 100%;
    overflow-y: hidden;
    overflow-x: scroll;
}

.list {
    display: flex;
    flex-direction: column;
    row-gap: 0.5em;
    background-color: #e2e2e2;
    padding: 1em;
    border-radius: 10px;
    width: 20em;
    min-width: 20em;
}

.list h2 {
    font-size: 1.5em;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    column-gap: 0.3em;
    align-items: center;
}

.input-white {
    font-size: 1em;
    padding: 0.5em 1em;
    border: 0px;
    border-radius: 10px;
    color: #212121;
    background-color: #fbfbfb;
    width: 60%;
    margin-bottom: 0.3em;
    margin: 0em;
}

.list-button {
    font-size: 1em;
    width: 30%;
    height: 100%;
    padding: 0.5em;
    border: 0px;
    border-radius: 10px;
    color: #212121;
    background-color: #fbfbfb;
    cursor: pointer;
}

.list-button:active {
    background-color: #212121;
    color: #fbfbfb;
}

.delete-column-button {
    width: 3em;
    margin: 0em;
    margin-left: 0.3em;
}

i {
    font-style: normal;
}

.task {
    background-color: #fbfbfb;
    color: #212121;
    padding: 1em;
    border-radius: 10px;
    font-size: 1em;
    cursor: move;
    margin: 0em;
    margin-bottom: 0.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.task-delete-button {
    color: #212121;
    width: 1em;
}

.is-dragging {
    background-color: #212121;
    color: #fbfbfb;
}

.para,
.mine {
    margin: 0em;
}

.task-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media only screen and (max-width: 750px) {
    body {
        font-size: 0.7em;
    }
    .input,
    .button,
    .task {
        font-size: 1.3em;
    }
    .center-p {
        width: 80%;
        font-size: 1.2em;
    }
    .center {
        font-size: 1.2em;
    }
}